
body{
	background-image:url(../image/photo1.png);
	background: center cover no-repeat;
	 
}
.title{
	font-weight:bolder;
	text-align: center;
	font-size:px;
}
.text{
	font-weight:bolder;
	text-align: center;
		
}	